@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,500&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(17, 22, 22);
  color: aliceblue;
  font-family: "Grandstander", cursive;
}

.time-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.2rem;
}

.clock {
  display: flex;
}

.time {
  height: 10rem;
  width: 10rem;
  overflow: hidden;
  background-color: rgb(7, 129, 89);
  margin: 1rem;
  border-radius: 5%;
  position: relative;
  -webkit-box-reflect: below 5px linear-gradient(to top, transparent, white);
  box-shadow: 3px 5px 10px rgba(7, 129, 88, 0.651);
}

.time p {
  font-size: 3rem;
  font-weight: 800;
  margin-top: 3rem;
  width: 100%;
  text-align: center;
}

.time span {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background-color: rgb(16, 43, 11);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

@media screen and (max-width: 650px) {
  .clock {
    display: flex;
    flex-direction: column;
  }
  .time {
    box-shadow: 3px 5px 10px rgba(7, 129, 88, 0.651);
    -webkit-box-reflect: unset;
  }
}

@media screen and (max-width: 500px) {
  .time {
    height: 8rem;
    width: 8rem;
  }
  .time p {
    font-size: 2rem;
    margin-top: 2.5rem;
  }
}
